<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="download.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <img src="./Saved Pictures//LOGO.svg" alt="site logo">
    </header>


    <nav class="side-nav">
        <div class="dropdown">
            <button class="dropbtn cancel">HOME</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown2">
            <button class="dropbtn2">DOWNLOADS</button>
            <div class="dropdown-content2">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown3">
            <button class="dropbtn3">NEWS STATUS</button>
            <div class="dropdown-content3">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown4">
            <button class="dropbtn4">HOUSING</button>
            <div class="dropdown-content4">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </nav>


    <div class="side-section1">

    </div>


    <div class="side-section2">

    </div>

    <div class="side-section3">

    </div>

    <div class="container1">

    </div>

    <p class="footer-text"><span>&#169VIRALVIBES 2019 COPYRIGHT</span> Designed by Wikitek</p>
    </div>

    <div class="container2">
        <img class="phone-logo" src="./Saved Pictures/viralvibes phone tv.png" alt="phone logo">
        <img class="huma-remote" src="./Saved Pictures/huma with remote.png" alt="human width remote">
        <img class=" small-speaker" src="./Saved Pictures/viral vibes whitecopy_3.png" alt="small speaker logo">
        <img class="speaker-logo" src="./Saved Pictures/viral vibes whitecopy_2.png" alt="speaker logo">
        <img class="circle-logo" src="./Saved Pictures/circle_tv3.png" alt="circle logo">
        <img class="circle-logo-2" src="./Saved Pictures/circle_tv3.png" alt="circle logo 2">
        <img class="circle-logo-3" src="./Saved Pictures/circle_tv3.png" alt="circle logo 3">
        <img class="circle-logo-4" src="./Saved Pictures/circle_tv3.png" alt="circle logo 4">
        <img class="speaker-logo-2" src="./Saved Pictures/viral vibes whitecopy_1.png" alt="speaker logo 2">
    </div>

</body>

</html>